<div class="ContentSideSections Implementation">
    <p-panel header="ComponentConfig Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="componentConfig" ngForm #componentConfigForm="ngForm">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="my_component">My Component</label></div>
                <div class="ui-grid-col-4">
                    <solutionComponent-auto-complete [(ngModel)]="componentConfig.my_component" id="my_component" name="my_component" [disabled]="sub"></solutionComponent-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="gotoMy_component" type="button" (click)="gotoMy_component()" *ngIf="componentConfig.my_component" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="clearMy_component" type="button" (click)="clearMy_component()" *ngIf="componentConfig.my_component" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="parameter">Parameter </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="parameter" [(ngModel)]="componentConfig.parameter"   name="parameter" #parameter="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="value">Value </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="value" [disabled]="!allowWriteSensitive && componentConfig.sensitive" [(ngModel)]="componentConfig.value"   name="value" #value="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="hieraAddress">Hiera Address </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="hieraAddress" [(ngModel)]="componentConfig.hieraAddress"   name="hieraAddress" #hieraAddress="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="notes">Notes </label></div>
                <div class="ui-grid-col-4">
                    <textarea pInputTextarea id="notes" [(ngModel)]="componentConfig.notes"
                        name="notes" #notes="ngModel"></textarea>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="sensitive">Contains Sensitive Info</label></div>
                <div class="ui-grid-col-1">
                    <p-inputSwitch [disabled]="!allowWriteSensitive" onLabel="Yes" offLabel="No" id="sensitive" [(ngModel)]="componentConfig.sensitive"
                        name="sensitive" #sensitive="ngModel"></p-inputSwitch>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            
             <div class="ui-g">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!componentConfigForm.form.valid"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onCreateFrom()" label="Create From" [disabled]="!enableCreateFrom"></button>
                </div>
            </div>
        </div>
    </p-panel>

</div>
