<div class="ContentSideSections Implementation">
    <p-panel header="Environment Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="environment" ngForm #environmentForm="ngForm">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="name">Name  *</label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="name" [(ngModel)]="environment.name"  required placeholder="Required"  name="name" #name="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!name.valid && name.dirty && name.errors.required">
                        <i class="fa fa-close"></i>
                        Name is required
                    </div>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="release">Release</label></div>
                <div class="ui-grid-col-4">
                    <release-auto-complete [(ngModel)]="environment.release" id="release" name="release" [disabled]="sub"></release-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="gotoRelease" type="button" (click)="gotoRelease()" *ngIf="environment.release" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="clearRelease" type="button" (click)="clearRelease()" *ngIf="environment.release" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
             <div class="ui-g">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!environmentForm.form.valid"></button>
                </div>
            </div>
        </div>
    </p-panel>
    <div class="panel-body">
        <ul>
            <li *ngFor = "let hieraValues of hieraValuesList">
                <span>{{hieraValues.value}}</span> {{hieraValues.address}}
            </li>
        </ul>
    </div>

</div>
