<p>This list is server-side paginated...</p>
<div class="ContentSideSections Implementation">
    <p-dataTable [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [(selection)]="selectedEnvironment"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <header>{{header}} (count: {{currentPage.totalElements}})</header>
        <p-column field="name" header="Name" sortable="true"></p-column>
        <p-column styleClass="col-icon">
            <template let-environment="rowData" pTemplate type="body">
                <button type="button" pButton icon="fa-floppy-o" label="Hiera" (click)="downloadAllHieraByEnv(environment)" style="float:left"></button>
            </template>
        </p-column>
        <p-column styleClass="col-icon">
            <template let-environment="rowData" pTemplate type="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(environment)" style="float:left"></button>
            </template>
        </p-column>
        <footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="addNew()" label="Add"></button>
                <button pButton type="button" (click)="downloadAllHieraData()" icon="fa-floppy-o" style="float:left" label="Download Hiera Data"></button>
            </div>
        </footer>
    </p-dataTable>

    <p-dialog header="Delete Environment ?" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade" [modal]="true" closeOnEscape="true" (onAfterHide)="environmentToDelete = null">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="environmentToDelete">
            <div class="ui-grid-row" *ngIf="environmentToDelete.name">
                <div class="ui-grid-col-4">Name:</div>
                <div class="ui-grid-col-8">{{ environmentToDelete.name }}</div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-trash" (click)="delete()" label="Delete"></button>
            </div>
        </footer>
    </p-dialog>
</div>
