<div class="ContentSideSections Implementation">
    <p-panel header="Role Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="role" ngForm #roleForm="ngForm">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="name">Name  *</label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="name" [(ngModel)]="role.name"  required placeholder="Required"  name="name" #name="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!name.valid && name.dirty && name.errors.required">
                        <i class="fa fa-close"></i>
                        Name is required
                    </div>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="enabled">Privileges </label></div>
                <div class="ui-grid-col-6">
                    <p-pickList [source]="role.privileges" [target]="availablePrivileges" sourceHeader="Assigned" targetHeader="Available" [responsive]="true">
                        <template let-privilege pTemplate ="body">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{privilege.name}}</div>
                            </div>
                        </template>
                    </p-pickList>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!roleForm.form.valid"></button>
                </div>
            </div>
        </div>
    </p-panel>

</div>