<p>This list is server-side paginated...</p>
<div class="ContentSideSections Implementation">
    <p-dataTable [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [(selection)]="selectedServerConfig"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <header>{{header}} (count: {{currentPage.totalElements}})</header>
        <p-column field="parameter" header="Parameter" sortable="true"></p-column>
        <p-column field="value" header="Value" sortable="true"></p-column>
        <p-column field="hieraAddress" header="Hiera Address" sortable="true"></p-column>
        <p-column styleClass="col-icon">
            <template let-serverConfig="rowData" pTemplate type="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(serverConfig)" style="float:left"></button>
            </template>
        </p-column>
        <footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="addNew()" label="Add"></button>
            </div>
        </footer>
    </p-dataTable>

    <p-dialog header="Delete ServerConfig ?" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade" [modal]="true" closeOnEscape="true" (onAfterHide)="serverConfigToDelete = null">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="serverConfigToDelete">
            <div class="ui-grid-row" *ngIf="serverConfigToDelete.parameter">
                <div class="ui-grid-col-4">Parameter:</div>
                <div class="ui-grid-col-8">{{ serverConfigToDelete.parameter }}</div>
            </div>
            <div class="ui-grid-row" *ngIf="serverConfigToDelete.value">
                <div class="ui-grid-col-4">Value:</div>
                <div class="ui-grid-col-8">{{ serverConfigToDelete.value }}</div>
            </div>
            <div class="ui-grid-row" *ngIf="serverConfigToDelete.hieraAddress">
                <div class="ui-grid-col-4">Hiera Address:</div>
                <div class="ui-grid-col-8">{{ serverConfigToDelete.hieraAddress }}</div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-trash" (click)="delete()" label="Delete"></button>
            </div>
        </footer>
    </p-dialog>
</div>
