<div class="ContentSideSections Implementation">
    <p-panel header="ServerConfig Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="serverConfig" ngForm #serverConfigForm="ngForm">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="server">Server</label></div>
                <div class="ui-grid-col-4">
                    <server-auto-complete [(ngModel)]="serverConfig.server" id="server" name="server" [disabled]="sub"></server-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="gotoServer" type="button" (click)="gotoServer()" *ngIf="serverConfig.server" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="clearServer" type="button" (click)="clearServer()" *ngIf="serverConfig.server" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="parameter">Parameter </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="parameter" [(ngModel)]="serverConfig.parameter"   name="parameter" #parameter="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="value">Value </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="value" [disabled]="!allowWriteSensitive && serverConfig.sensitive" [(ngModel)]="serverConfig.value"   name="value" #value="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="hieraAddress">Hiera Address </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="hieraAddress" [(ngModel)]="serverConfig.hieraAddress"   name="hieraAddress" #hieraAddress="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="notes">Notes </label></div>
                <div class="ui-grid-col-4">
                    <textarea pInputTextarea id="notes" [(ngModel)]="serverConfig.notes"
                        name="notes" #notes="ngModel"></textarea>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="isArray">Part of Array </label></div>
                <div class="ui-grid-col-1">
                    <p-inputSwitch onLabel="Yes" offLabel="No" id="arrayItem" [(ngModel)]="serverConfig.arrayItem"
                        name="arrayItem" #arrayItem="ngModel"></p-inputSwitch>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="sensitive">Contains Sensitive Info</label></div>
                <div class="ui-grid-col-1">
                    <p-inputSwitch [disabled]="!allowWriteSensitive" onLabel="Yes" offLabel="No" id="sensitive" [(ngModel)]="serverConfig.sensitive"
                        name="sensitive" #sensitive="ngModel"></p-inputSwitch>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            
             <div class="ui-g">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!serverConfigForm.form.valid"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onCreateFrom()" label="Create From" [disabled]="!enableCreateFrom"></button>
                </div>
                
            </div>
        </div>
    </p-panel>

</div>
