<div class="ContentSideSections Implementation">
    <p-panel header="Release Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="release" ngForm #releaseForm="ngForm">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="name">Name  *</label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="name" [(ngModel)]="release.name"  required placeholder="Required"  name="name" #name="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!name.valid && name.dirty && name.errors.required">
                        <i class="fa fa-close"></i>
                        Name is required
                    </div>
                </div>
            </div>
             <div class="ui-g">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!releaseForm.form.valid"></button>
                </div>
            </div>
        </div>
    </p-panel>

    <p-inplace>
        <span pInplaceDisplay>
            <span class="fa fa-table"></span><span style="margin-left:8px">View Hiera Data</span>
        </span>
        <span pInplaceContent>
            <p-dataTable [value]="hieraValuesList">
                <p-column field="address" header="Hiera Address"></p-column>
                <p-column field="value" header="Hiera Value"></p-column>
            </p-dataTable>
        </span>
    </p-inplace>
</div>
