<p>This list is server-side paginated...</p>
<div class="ContentSideSections Implementation">
    <p-dataTable [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [(selection)]="selectedRelease"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
        <p-column field="name" header="Name" sortable="true"></p-column>
        <p-column styleClass="col-icon">
            <template let-release="rowData" pTemplate ="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(release)" style="float:left"></button>
            </template>
        </p-column>
        <p-column styleClass="col-icon">
            <template let-release="rowData" pTemplate ="body">

            </template>
        </p-column>
        <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="addNew()" label="Add"></button>
                <button type="button" pButton icon="fa-floppy-o" label="All Hiera" (click)="downloadAllHiera()" style="float:left"></button>
            </div>
        </p-footer>
    </p-dataTable>

    <p-dialog header="Delete Release ?" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade" [modal]="true" closeOnEscape="true" (onAfterHide)="releaseToDelete = null">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="releaseToDelete">
            <div class="ui-grid-row" *ngIf="releaseToDelete.name">
                <div class="ui-grid-col-4">Name:</div>
                <div class="ui-grid-col-8">{{ releaseToDelete.name }}</div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-trash" (click)="delete()" label="Delete"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>
