<div class="ContentSideSections Implementation">
    <p-panel header="ReleaseConfig Details">
        <div class="ui-g ui-g-nopad ui-fluid" *ngIf="releaseConfig" ngForm #releaseConfigForm="ngForm">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-1"style="float: left; min-width:220px"><label for="release">Release</label></div>
                <div class="ui-g-3">
                    <release-auto-complete [(ngModel)]="releaseConfig.release" id="release" name="release" [disabled]="sub"></release-auto-complete>
                </div>
                <div class="ui-g-1" *ngIf="!sub">
                    <button pButton id="gotoRelease" type="button" (click)="gotoRelease()" *ngIf="releaseConfig.release" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-g-1" *ngIf="!sub">
                    <button pButton id="clearRelease" type="button" (click)="clearRelease()" *ngIf="releaseConfig.release" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
            <div class="ui-g ui-g-nopad">
                <hiera-config
                    [hieraItem]="releaseConfig"
                    [validationTags]="invalidHieraTags"
                    [valueDisabled]="allowWriteSensitive == false && releaseConfig.sensitive == true"
                    [messageService]="messageService"
                    [displayTags]="displayHieraTags">
                </hiera-config>
            </div>
             <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2" style="float: left; min-width:220px" ><label for="recursiveByEnv">Repeats for Environments </label></div>
                <div class="ui-g-2" style="float: left">
                    <p-inputSwitch onLabel="Yes" offLabel="No" id="recursiveByEnv" [(ngModel)]="releaseConfig.recursiveByEnv"
                      name="recursiveByEnv" (onChange)="handleSwitchChange($event)" #recursiveByEnv="ngModel"></p-inputSwitch>
                </div>
            </div>
             <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2" style="float: left; min-width:220px"><label for="recursiveBySubEnv">Repeats for SubEnvironments </label></div>
                <div class="ui-g-2" style="float: left">
                    <p-inputSwitch onLabel="Yes" offLabel="No" id="recursiveBySubEnv" [(ngModel)]="releaseConfig.recursiveBySubEnv"
                       name="recursiveBySubEnv" (onChange)="handleSwitchChange($event)" #recursiveByEnv="ngModel"></p-inputSwitch>
                </div>
            </div>
             <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2" style="float: left; min-width:220px"><label for="isArray">Part of Array </label></div>
                <div class="ui-g-2" style="float: left">
                    <p-inputSwitch onLabel="Yes" offLabel="No" id="arrayItem" [(ngModel)]="releaseConfig.arrayItem"
                        name="arrayItem" #arrayItem="ngModel"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2" style="float: left; min-width:220px"><label for="notes">Notes </label></div>
                <div class="ui-g-6" style="float: left">
                    <textarea pInputTextarea id="notes" [(ngModel)]="releaseConfig.notes"
                        name="notes" #notes="ngModel"></textarea>
                </div>
            </div>
             <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2" style="float: left; min-width:220px"><label for="sensitive">Contains Sensitive Info</label></div>
                <div class="ui-g-2" style="float: left">
                    <p-inputSwitch [disabled]="!allowWriteSensitive" onLabel="Yes" offLabel="No" id="sensitive" [(ngModel)]="releaseConfig.sensitive"
                        name="sensitive" #sensitive="ngModel"></p-inputSwitch>
                </div>
            </div>

             <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!releaseConfigForm.form.valid"></button>
                </div>

                <div class="ui-g-2">
                    <button pButton type="button" (click)="onCreateFrom()" label="Create From" [disabled]="!enableCreateFrom"></button>
                </div>
            </div>
        </div>
    </p-panel>
</div>
