<div class="ContentSideSections Implementation">
    <p-panel header="SubEnvironmentConfig Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="subEnvironmentConfig" ngForm #subEnvironmentConfigForm="ngForm">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="subEnvironment">Environment</label></div>
                <div class="ui-grid-col-4">
                    <environment-auto-complete [(ngModel)]="env" id="environment" name="environment" (ngModelChange)="onEnvChange($event)" [disabled]="sub"></environment-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="gotoSubEnvironment" type="button" (click)="gotoSubEnvironment()" *ngIf="subEnvironmentConfig.subEnvironment" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="clearSubEnvironment" type="button" (click)="clearSubEnvironment()" *ngIf="subEnvironmentConfig.subEnvironment" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="name">Type  *</label></div>
                <div class="ui-grid-col-2">
                    <p-dropdown [style]="{'width': 'invalidate' }" scrollHeight="300"
                                name="envType" [options]="listSubEnvTypes" [disabled]="sub"
                                [(ngModel)]="selectedSubEnvType"></p-dropdown>
                </div>
            </div>

              <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="parameter">Parameter </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="parameter" [(ngModel)]="subEnvironmentConfig.parameter"   name="parameter" #parameter="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="value">Value </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="value" [disabled]="!allowWriteSensitive && subEnvironmentConfig.sensitive" [(ngModel)]="subEnvironmentConfig.value"   name="value" #value="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="hieraAddress">Hiera Address </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="hieraAddress" [(ngModel)]="subEnvironmentConfig.hieraAddress"   name="hieraAddress" #hieraAddress="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="notes">Notes </label></div>
                <div class="ui-grid-col-4">
                    <textarea pInputTextarea id="notes" [(ngModel)]="subEnvironmentConfig.notes"
                        name="notes" #notes="ngModel"></textarea>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="sensitive">Contains Sensitive Info</label></div>
                <div class="ui-grid-col-1">
                    <p-inputSwitch [disabled]="!allowWriteSensitive" onLabel="Yes" offLabel="No" id="sensitive" [(ngModel)]="subEnvironmentConfig.sensitive"
                        name="sensitive" #sensitive="ngModel"></p-inputSwitch>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            
             <div class="ui-g">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!subEnvironmentConfigForm.form.valid"></button>
                </div>
                <div class="ui-g-2">
                    <refresh-component [dataService]="subEnvironmentConfigService"
                        [dataId]="subEnvironmentConfig.id"
                        (dataRefresh)="onRefresh($event)"
                        [messageService]="messageService">
                    </refresh-component>
                </div>                    
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onCreateFrom()" label="Create From" [disabled]="!enableCreateFrom"></button>
                </div>

            </div>
        </div>
    </p-panel>

</div>
